.add-item {
    margin-top: 0.5rem;
    width: 100%;
    overflow: auto;
    button, input[type=submit] {
        float: right;
    }
    input[type=text] {
       width: 60%;
       font-size: 1rem;
    }

    &__button {
        border: $itemBorder;
    }
}